* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.header {
  background-color: #000;
}
.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo a {
  margin-left: -60px;
}
.header .container .logo a img {
  width: 116px;
}
.header .container .navbar .icon {
  display: flex;
  align-items: center;
}
.header .container .navbar .icon img {
  width: 31px;
}
.header .container .navbar .icon span {
  line-height: 36px;
  font-weight: 300;
  font-size: 30px;
  color: #fff;
}
.header .container .navbar a {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  padding-left: 15px;
}

.plan .container nav {
  margin-left: -60px;
  padding: 10px 0;
}
.plan .container nav a {
  text-decoration: none;
  padding-right: 37px;
  padding-top: 16px;
  padding-bottom: 10px;
  font-weight: 300;
  font-size: 20px;
  color: #000;
}
.plan .container nav .home {
  font-weight: 400;
  font-size: 20px;
  color: #000;
}

.register .container h1 {
  padding-top: 30px;
  padding-bottom: 70px;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  color: #000;
}
.register .container .row .col-6 .item {
  margin-left: 40px;
}
.register .container .row .col-6 .item .inputcol {
  padding-top: 20px;
  border-bottom: 5px solid #ae18e2;
}
.register .container .row .col-6 .item .inputcol .input-top {
  font-weight: 400;
  font-size: 30px;
  color: #000;
}
.register .container .row .col-6 .item .inputcol .input-top input {
  border: none;
  width: 50%;
}
.register .container .row .col-6 .item .inputcol .input-top span {
  font-weight: 400;
  font-size: 20px;
  color: #FC0303;
}
.register .container .row .col-6 .item .input-gender {
  border: none;
}
.register .container .row .col-6 .item .button-submit button {
  background-color: #ae18e2;
  padding: 1px 100px;
  font-weight: 400;
  font-size: 30px;
  color: #fff;
  margin-top: 90px;
  border: none;
}

.footer {
  padding-top: 90px;
}
.footer .footer-top {
  background: #F8F8F8;
}
.footer .footer-top .container .row {
  display: flex;
  justify-content: space-around;
  margin: 0px 100px;
  padding: 20px 0px;
}
.footer .footer-top .container .row .col {
  width: 33.3333333333%;
}
.footer .footer-top .container .row .col .item {
  border-right: 1px solid #000;
}
.footer .footer-top .container .row .col .item h3 {
  font-weight: 700;
  font-size: 16px;
  color: #000;
}
.footer .footer-top .container .row .col .item p {
  font-weight: 600;
  font-size: 12px;
  color: #000;
  margin-bottom: 3px;
}
.footer .footer-top .container .row .col .item a {
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  color: #FC0303;
}
.footer .footer-bottom {
  background: #DEDDDC;
}
.footer .footer-bottom .container .row {
  display: flex;
  justify-content: space-around;
  margin: 0px 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer .footer-bottom .container .row .col .item {
  border-right: 1px solid #000;
}
.footer .footer-bottom .container .row .col .item h3 {
  font-weight: 700;
  font-size: 15px;
  color: #000;
}
.footer .footer-bottom .container .row .col .item p {
  font-weight: 600;
  font-size: 12px;
  color: #000;
}
.footer .footer-bottom .container .row .col .item a {
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  color: #FC0303;
}