@import "../Base/base";
@import "../Themes/variable";

.header{
    background-color:  #000;
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .logo{
            a{
                margin-left: -60px;
                img{
                    width: 116px;
                }
            }
        }
        .navbar{
            .icon{
                display: flex;
                align-items: center;
                img{
                    width: 31px;         
                }
                span{
                    color: #fff;
                    font-weight: 300;
                    font-size: 30px;
                    line-height: 36px;
                }
            }
            a{
                text-decoration: none;
                font-size: 16px;
                font-weight: 300;
                color: #fff;
                // line-height: 19px;
                padding-left: 15px;
            }
        }
    }
}
.plan{
    .container{
        nav{
            margin-left: -60px;
            a{
                text-decoration: none;
                font-weight: 300;
                font-size: 20px;
                color: #000000;
                padding-right: 37px;
                padding-top: 16px;
                padding-bottom: 10px;
            }
            .home{
                font-weight: 400;
                font-size: 20px;
                color: #000000;
                // border-bottom: 1px solid #000000;
                // padding-right: -10px;
            }
        }
    }
}
.carousel{
    background-image: url(../../img/image\ 6.png);
    // background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100% ;
    margin-top: 102px;
    .container{
        .row{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 110px;
            .col{
                width: 80% 20%;
                margin-top: -70px;
                .item{       
                          
                    img{
                        width: 821px;
                    }
                    p{
                        font-weight: 300;
                        font-size: 20px;
                        color: #000000;
                    }
                    h1{
                        font-weight: 300;
                        font-size: 40px;
                        color: #000000;
                    }
                    button{
                        font-weight: 300;
                        font-size: 20px;
                        color:#FFFFFF;
                        padding: 13px 35px;
                        background: #F8B653;
                        border: none;
                    }
                }
            }
        }
    }
}
.feature{
    .title{
        h1{
            text-align: center;
            padding-bottom: 80px;
            padding-top: 46px;
        }
    }
    .main{
        .row{
            justify-content: space-between;
            align-items: center;
            .col-4{
                padding: 25px;
                .item{
                    padding: 45px 30px 0px 30px; 
                    background: #F8F8F8;
                    img{
                        margin-left: 40px;
                        width: 220px;
                        padding-bottom: 30px;
                    }
                    .info{
                        // margin-left: 30px;
                        h3{
                            text-align: left;
                            font-weight: 300;
                            font-size: 24px;
                            color: #000000;
                            line-height: 29px;
                        }
                        p{
                            text-align: left;
                            font-weight: 300;
                            font-size: 20px;
                            line-height: 24px;
                            color: #CBC9C9;
                        }
                    }
                    }
                    .content{
                        // display: flex;
                        // align-items: center;
                        // justify-content: space-between;
                        position: relative;
                        button{
                            margin-left: -28px;
                            padding: 18px 45px 18px 50px;
                            background-color: #E1B067;
                            border: none;
                            a{
                                text-decoration: none;
                                font-weight: 200;
                                font-size: 24px;
                                line-height: 29px;
                                color: #000000;
                            }
                        }
                        p{
                            padding: 13px 86px 23px 59px;
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 29px;
                            color: #000000;
                            background: #DEDDDC;
                            position: absolute;
                            top: 0;
                            right: 0;
                            margin-right: -28px;
                        }
                    }
                }
            }
        }
    }
.footer{
    .footer-top{
        background: #F8F8F8;
        .container{
            .row{
                display: flex;
                justify-content: space-around;
                margin: 0px 100px;
                padding: 20px 0px;
                .col{
                    width: calc(100% /3);
                    .item{
                        border-right: 1px solid #000;
                        h3{
                            font-size: 16px;
                            font-weight: 700;
                            color: #000000;
                        }
                        p{
                            font-size: 12px;
                            font-weight: 600;
                            color: #000;
                            margin-bottom: 3px;
                        }
                        a{
                            text-decoration: none;
                            color: red;
                        }
                    }
                }
            }
        }
    }
    .footer-bottom{
        background: #DEDDDC;
        .container{
            .row{
                display: flex;
                justify-content: space-around;
                margin: 0px 100px;
                padding-top: 30px;
                padding-bottom: 30px;
                .col{
                    .item{
                        border-right: 1px solid #000;
                        h3{
                            font-size: 15px;
                            font-weight: 700;
                            color: #000000;
                        }
                        p{
                            font-size: 12px;
                            font-weight: 600;
                            color: #000;
                        }
                        a{
                            text-decoration: none;
                            color: red;
                            font-size: 15px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}
